.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.search-bar img {
    max-width: 64px;
}


.video-detail .details {
    margin-top: 10px;
}

.list-group-item {
    cursor: pointer;
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
}

.list-group-item:hover {
    background-color: rgb(51, 57, 107);
}

body {
    background-color: rgb(54, 61, 126);
}

.container .videoBox {
    background-color: transparent;
    color: white;
}